{% extends "layout.html" %}

{% block scripts %}
<script async src="{{ url_for('static', filename='dist/js/admin.js') }}" type="module"></script>
{% endblock%}

{% block content %}

<div class="list-group p-0" id="usersList">
    <div id="searchUser" class="row my-3">
        <search>
            <form id="userSearchForm" class="col-md-4">
                <input type="search" id="userSearchInput" placeholder="VEKN login" class="form-control autocomplete"
                    data-server="/user/search" data-live-server="true" data-suggestions-threshold="3" autocomplete="off"
                    autocapitalize="off" spellcheck=false>
            </form>
        </search>
    </div>
    {% for user in users %}
    <div class="list-group-item d-flex align-items-center">
        <div class="flex-grow-1">{{ user.vekn }}</div>
        <div class="mx-2">{{ user.category }}</div>
        {% if user.category != 'ADMIN' %}
        <form action="" method="post">
            <input type="text" name="uid" hidden="true" value="{{ user.uid }}">
            {% if user.category == 'BASIC' %}
            <input class="btn btn-primary" type="submit" formaction="/user/promote" value="Promote"></button>
            {% else %}
            <input class="btn btn-warning" type="submit" formaction="/user/demote" value="Demote"></button>
            {% endif %}
        </form>
        {% endif %}
    </div>
    {% endfor %}
    {% if pagination %}
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if pagination.previous %}
            <li class="page-item"><a class="page-link" href="{{pagination.previous}}">Previous</a></li>
            {% endif %}
            {% if pagination.next %}
            <li class="page-item"><a class="page-link" href="{{pagination.next}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}