{% extends "layout.html" %}

{% block scripts %}
<script async src="{{ url_for('static', filename='dist/js/groups.js') }}" type="module"></script>
{% endblock%}

{% block content %}
<div class="row my-2 mx-0">
    {% if current %}
    <div id="cardEditControls" class="btn-group" hidden="true">
        <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
            class="btn badge btn-secondary btn-sm dropdown-toggle">Icon</button>
        <ul class="dropdown-menu"><!-- Icons added by JS --></ul>
    </div>
    <div class="col-md krcg-current" id="groupDisplay" data-uid="{{ current.uid }}" data-data='{{ current | tojson }}'>
        <h2 id="groupName">{{ current.name or '_Choose a name_' }}</h2>
        {% if proposal %}
        <div class="d-flex justify-content-center">
            <button id="groupDeleteButton" class="btn text-bg-danger my-3" type="submit">
                <i class="bi bi-trash3"></i>
                Delete group
            </button>
            <button id="groupRestoreButton" class="btn text-bg-success my-3" type="submit" hidden="true">
                <i class="bi bi-arrow-counterclockwise"></i>
                Restore group
            </button>
        </div>
        {% endif %}
        <div class="list-group">
            {% for card in current.cards %}
            <div class="list-group-item d-flex flex-wrap align-items-center" data-uid="{{ card.uid }}"
                data-name='{{ card.name }}' data-state="{{ card.state }}">
                <div class="krcg-dot px-2" data-bs-toggle="tooltip">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="px-2 me-auto">
                    <a href="/index.html?uid={{ card.uid }}{{ search_params_2 }}" class="krcg-card" data-noclick="true"
                        data-uid="{{ card.uid }}">{{ card.name }}</a>
                </div>
                <div class="px-2"></div>
                <div class="krcg-prefix w-25 px-2">
                    {{ card.prefix | symbolreplace(card.symbols) | safe }}
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 class="my-2">Rulings</h3>
        <div id="rulingsList" data-source="{{ current.uid }}">
            {% for ruling in current.rulings %}
            <div class="card my-1 krcg-ruling" data-source="{{ current.uid }}" data-ruling='{{ ruling | tojson }}'>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-md"></div>
    {% endif %}
    <div class="col-md list-group p-0" id="groupsList">
        {% if proposal %}
        <form action="/api/group" method="post">
            <input type="text" name="name" hidden="true" value="">
            <button class="btn text-bg-primary my-2" type="submit"><i class="bi bi-plus-lg"></i> Add group</button>
        </form>
        {% endif %}
        {% for group in groups %}
        {% if current and group.uid == current.uid %}
        <a href="?uid={{ group.uid }}{{ search_params_2 }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active"
            data-uid="{{ group.uid }}">
            {{ group.name or '_Choose a name_' }}
            <span class="badge text-bg-primary rounded-pill">{{ group.cards | length}}</span>
        </a>
        {% else %}
        <a href="?uid={{ group.uid }}{{ search_params_2 }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            data-uid="{{ group.uid }}">
            {{ group.name or '_Choose a name_' }}
            {% set state_colors = {
            "ORIGINAL": "text-bg-primary",
            "NEW": "text-bg-success",
            "MODIFIED": "text-bg-warning",
            "DELETED": "text-bg-danger"
            } %}
            <span class="badge {{ state_colors[group.state] }} text-bg-primary rounded-pill">
                {{ group.cards | length}}
            </span>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}