<!DOCTYPE html>
<html lang="en-US">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Vampire: the Eternal Struggle (VTES) rulings database">
    <meta name="keywords" content="Vampire, the Eternal Struggle, VtES, CCG">
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/layout.css', v=version) }}">
    <script async src="https://static.krcg.org/web/krcg.js"></script>
    {% block scripts %}{% endblock %}
    <title>V:TES Rulings Database</title>
    {% endblock %}
</head>

<body>
    <header role="banner">
        <nav id="navigation" class="navbar bg-dark navbar-expand-sm" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='img/black-chantry-icon.webp') }}" alt="BCP logo"
                        width="48px">
                </a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html{{ search_params }}">Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="groups.html{{ search_params }}">Group</a>
                    </li>
                    {% if user and user.category == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link" href="admin.html{{ search_params }}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user %}
                <button type="button" class="btn btn-secondary ms-2" id="logoutButton">Logout</button>
                {% if proposal %}
                {% if proposal.channel_id %}
                {% if user.category != 'BASIC' %}
                <button type="button" class="btn btn-success ms-2" id="proposalApprove">Approve</button>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-success ms-2" id="proposalSubmit">Submit</button>
                {% endif %}
                {% if proposal.editable %}
                <button type="button" class="btn btn-danger ms-2" id="proposalDelete">Delete</button>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-primary ms-2" id="proposalButton">Start proposal</button>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-primary ms-2" id="loginButton">Login</button>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true" aria-labelledby="loginModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="modal-body" id="loginForm" method="post" action="/login">
                    <input type="text" class="form-control my-2" placeholder="VEKN login" name="username">
                    <input type="password" class="form-control my-2" placeholder="VEKN password" name="password">
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="loginSubmit" form="loginForm">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="proposalModal" tabindex="-1" aria-hidden="true" aria-labelledby="proposalModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="proposalModalLabel">
                        {% if proposal %}
                        Proposal
                        {% else %}
                        Start proposal
                        {% endif %}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="modal-body" id="proposalForm" onsubmit="return false;"><!-- form sent to API via JS -->
                    <input type="text" class="form-control my-2" placeholder="Name" id="proposalName" name="name"
                        value="{{ proposal.name if proposal else ''}}">
                    {% if proposal %}
                    <textarea class="form-control my-2" id="proposalDescription" name="description"
                        placeholder="Description">{{ proposal.description }}</textarea>
                    {% else %}
                    <textarea class="form-control" id="proposalDescription" placeholder="Description"
                        name="description"></textarea>
                    {% endif %}
                </form>
                <div class="modal-footer">
                    {% if proposal %}
                    {% if proposal.editable %}
                    <button type="button" class="btn btn-primary" id="proposalSave" form="proposalForm">
                        Save
                    </button>
                    {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-success" id="proposalStart" form="proposalForm">
                        Start
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if proposal %}
    <div class="modal fade" id="referenceModal" tabindex="-1" aria-hidden="true" aria-labelledby="referenceModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="referenceModalLabel">
                        Add reference
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="referenceForm">
                        <p class="mb-3">Provide URL or name to search for an existing reference</p>
                        <div class="mb-3">
                            <input type="text" class="form-control my-2" placeholder="URL" id="referenceURL" name="url"
                                data-bs-toggle="tooltip" title="Direct link to a rules director meessage">
                            <div id="referenceUrlError" class="form-text invisible text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control my-2" placeholder="Label" id="referenceName"
                                name="uid" data-bs-toggle="tooltip" title="Author trigram followed by date (YYYYMMDD)">
                            <div id="referenceNameHelp" class="form-text">
                                Example: "ANK 20240224" (suffix, if any, will be computed)
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div>
                        <select id="selectRulebookRef" class="form-select" aria-label="Select Rulebook reference">
                            <option value="" selected>--Or choose a Rulebook reference--</option>
                            {% for reference in rbk_references %}
                            <option value="{{ reference.uid }}" data-reference='{{ reference | tojson }}'>{{
                                reference.uid[4:]
                                }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="referenceAddNewButton" form="referenceForm">
                        Add new reference
                    </button>
                    <button type="button" class="btn btn-success" id="referenceAddExistingButton" form="referenceForm"
                        hidden="true">
                        Add existing reference
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container" id="contentContainer">
        {% if alert %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="d-flex align-items-center">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div>
                    {{ alert.text }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% if alert.links %}
            <hr>
            <div class="d-flex align-items-center flex-wrap">
                {% for link in alert.links %}
                <a class="m-2 badge bg-secondary text-decoration-none" href="{{ link.url }}">{{ link.label }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if proposal %}
        <div class="accordion" id="proposalAcc" data-data='{{ proposal | tojson }}'>
            <div class="accordion-item">
                <h2 class="accordion-header d-flex align-items-center">
                    <button type="button" class="btn btn-success m-2" id="proposalButton">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-secondary m-2" id="proposalLeave">
                        <i class="bi bi-box-arrow-left"></i>
                    </button>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4>Proposal: {{ proposal.name }}</h4>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#proposalAcc">
                    <div id="proposalAccBody" class="accordion-body">
                        <div id="proposalDescription">{{ proposal.description }}</div>
                        {% if proposal.url %}
                        <a href="{{ proposal.url }}" target="_blank" class="my-2">
                            <i class="bi bi-discord"></i> Discord discussion
                        </a>
                        {% endif %}
                        <div id="proposalGroups" class="d-flex flex-wrap align-items-center d-none">
                            <!-- Content managed by JS -->
                        </div>
                        <div id="proposalCards" class="d-flex flex-wrap align-items-center d-none">
                            <!-- Content managed by JS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        <div id="editControls" class="container d-flex flex-row invisible">
            <div class="btn-group">
                <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    class="btn btn-secondary btn-sm dropdown-toggle">Icon</button>
                <ul class="dropdown-menu"><!-- Icons added by JS --></ul>
            </div>
            <form>
                <input class="form-control autocomplete mx-2" type="search" placeholder="Card name"
                    data-server="/api/complete" data-live-server="true" data-suggestions-threshold="3"
                    autocomplete="off" autocapitalize="off" spellcheck=false>
            </form>
        </div>
    </div>
    <div aria-live="polite" aria-atomic="true" class="position-static">
        <div class="toast-container bottom-0 end-0 p-3">
            <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi-exclamation-circle-fill text-danger"></i>
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Error
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        {% block footer %}{% endblock %}
    </footer>
</body>

</html>